# Ignore everything by default to keep context small
*

# Allow directories
!/style_bert_vits2/
!/bert/
!/configs/
!/dict_data/
!/model_assets/
!/static/
!/Data/

# Allow specific files
!/config.py
!/default_config.yml
!/initialize.py
!/requirements.txt
!/server_editor.py
!/server_fastapi.py
!/app.py
!/pyproject.toml
